.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 2rem;
    color: #36648B;
}

.blue {
    color: #74BBFB
}


@media screen and (max-width: 768px) {
    .navbar .icon {
        align-items: center;
        padding-left: 8.9px;
    }
}